<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio repellat
      doloremque saepe assumenda illum labore dolores commodi quidem
      perspiciatis, tempora reiciendis facere ipsam consequuntur nostrum est
      dolorem perferendis harum impedit dolore voluptatibus quibusdam
      exercitationem, quos distinctio! At, enim non fuga eaque cum quos labore
      magnam possimus iure reiciendis corporis nemo qui ab deserunt quas ea
      aliquam totam blanditiis dignissimos natus voluptate nulla, voluptates est
      velit! Recusandae ab doloribus doloremque quisquam excepturi fuga numquam
      dicta vitae eum soluta quos cum minima dignissimos, non sed illum.
      Incidunt neque vitae laboriosam quaerat perferendis necessitatibus totam
      aut qui, pariatur accusantium, consectetur libero vero.
    </p>
  </body>
</html>
